<head>
    <link rel="shortcut icon" href="https://res.cloudinary.com/kundankumar26/image/upload/v1533294307/portfolio/todo-app.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="container">
        <h1 class="text-center">todo<span class="heading">list</span></h1>
        <p class="lead text-center">A simple todo app using api as its database.</p>
        <section class="form-group">
            <input type="text" class="form-control" id="todoinput" placeholder="Insert your todo here...">
        </section>
        <ul class="list list-group bold">
        </ul>
    </div>
    
    <div class="container">
        <a href="/api/todos" class="btn btn-outline-secondary btn-lg btn-block">View api</a>
    </div>
    
<script type="text/javascript" src="app.js"></script>
</body>
